---
import { getRelativeLocaleUrlList } from 'astro:i18n';
import { WebsiteConfig } from 'src/config';

export function getStaticPaths() {
	return getRelativeLocaleUrlList().map((locale) => {
		let localeItem = locale.split('/')[1];
		return {
			params: { locale: localeItem },
		};
	});
}

---
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>{WebsiteConfig.siteTitle}</title>
    </head>
